c/morello.c
c/morello
isabelle/Morello_bindings.thy
isabelle/Morello_lemmas.thy
isabelle/Morello.thy
isabelle/Morello_types.thy
isabelle/Prelude.thy
isabelle/ROOT
lem/morello.lem
lem/morello_types.lem
lem/prelude.lem
src/z3_problems

# Linux booting files
Image
boot.zip
bootloader.bin
linux-4.14.92.tar.xz
linux-4.14.92/
sail-arm-boot-master/
sail.dtb
